In [1]:
import os

In [11]:
import pandas as pd

In [2]:
from oandapyV20 import API
from oandapyV20.exceptions import V20Error
from oandapyV20.endpoints.pricing import PricingStream
import oandapyV20.endpoints.orders as orders
import oandapyV20.endpoints.instruments as instruments

In [3]:
accountID = os.environ['oanda_account_id']
access_token = os.environ['oanda_access_token']

api = API(access_token=access_token, environment="live")

In [4]:
# import oandapyV20.endpoints.accounts as accounts
# params = { "instruments": "EUR_USD,EUR_JPY,USD_JPY" }
# r = accounts.AccountInstruments(accountID=accountID, params=params)
# api.request(r)

In [5]:
# r = accounts.AccountSummary(accountID)
# api.request(r)

In [6]:
import json

In [29]:
params = {
  "count": 1000,
  "granularity": "M1"
}
r = instruments.InstrumentsCandles(instrument="USD_JPY", params=params)
data = api.request(r)

In [30]:
prices = []
for c in data['candles']:
    prices.append([c['time'], c['mid']['o'], c['mid']['h'], c['mid']['l'], c['mid']['c'], c['volume']])

In [31]:
df = pd.DataFrame(prices, columns=['time', 'open', 'high', 'low', 'close', 'volume'])
df['time'] = pd.to_datetime(df['time'])
df = df.set_index('time')

In [32]:
df.index

DatetimeIndex(['2021-04-02 03:03:00+00:00', '2021-04-02 03:04:00+00:00',
               '2021-04-02 03:05:00+00:00', '2021-04-02 03:06:00+00:00',
               '2021-04-02 03:07:00+00:00', '2021-04-02 03:08:00+00:00',
               '2021-04-02 03:09:00+00:00', '2021-04-02 03:10:00+00:00',
               '2021-04-02 03:11:00+00:00', '2021-04-02 03:12:00+00:00',
               ...
               '2021-04-02 20:47:00+00:00', '2021-04-02 20:48:00+00:00',
               '2021-04-02 20:49:00+00:00', '2021-04-02 20:50:00+00:00',
               '2021-04-02 20:53:00+00:00', '2021-04-02 20:54:00+00:00',
               '2021-04-02 20:55:00+00:00', '2021-04-02 20:56:00+00:00',
               '2021-04-02 20:58:00+00:00', '2021-04-02 20:59:00+00:00'],
              dtype='datetime64[ns, UTC]', name='time', length=1000, freq=None)

In [33]:
df

                              open     high      low    close  volume
time
2021-04-02 03:03:00+00:00  110.625  110.632  110.624  110.630      43
2021-04-02 03:04:00+00:00  110.629  110.630  110.626  110.626      23
2021-04-02 03:05:00+00:00  110.627  110.631  110.624  110.624      66
2021-04-02 03:06:00+00:00  110.626  110.627  110.622  110.624      58
2021-04-02 03:07:00+00:00  110.626  110.626  110.614  110.625      45
...                            ...      ...      ...      ...     ...
2021-04-02 20:54:00+00:00  110.642  110.642  110.642  110.642       1
2021-04-02 20:55:00+00:00  110.655  110.661  110.655  110.661       2
2021-04-02 20:56:00+00:00  110.653  110.687  110.647  110.687       5
2021-04-02 20:58:00+00:00  110.679  110.691  110.679  110.679       4
2021-04-02 20:59:00+00:00  110.689  110.689  110.675  110.675       4

[1000 rows x 5 columns]